*
!*/ #whitelist directories
!.gitignore
!cfg/quickexec.cfg
!cfg/autoexec.cfg
!resource/flash3/images/items/**
!resource/flash3/images/spellicons/**
!scripts/game_sounds_heroes
!sound/weapons/hero
!sound/items/*
