bin
guides
itembuilds
maps
replays
*_datafile.txt
*log.txt
stats.txt
cfg/commandline.txt
cfg/video.txt
cfg/config.cfg
itembuilds/default_*.txt
*.vpk
*.tmp
*.soc
*.cache
*.bin
*.inf
scripts/vscripts/init.lua
scripts/vscripts/utils
sound/ui/stingers
*.dem
resource/game-icon.bmp
resource/cursor
maplist.txt
gameinfo.txt
resource/chat_*.txt
resource/dota_*.txt
resource/gameui_*.txt
resource/items_*.txt
resource/mp3player_english.txt
resource/toolpet_english.txt
resource/toolshared_english.txt
resource/valve_*.txt
